# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
ENV/
env/
.venv/

# VS Code
.vscode/

# SQLite database
store_monitoring.db

# Data and generated reports
/data/
!/data/*.csv
/generated_reports/
!generated_reports/*.csv

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables